{% block content %}
<div class="main">
  <form class="form-horizontal" action="{% url 'ask' %}" method="post">
    {% csrf_token %}
    <div class="col-md-12">
      <fieldset>
        {% for item in form %}
        <div class="form-group">
          {{ item }}
        </div>
        {% endfor %}
        <div class="form-group">
          <input type="submit" value="Ask it" class="btn btn-success" />
        </div>
      </fieldset>
    </div>
  </form>
</div>
<!-- <form>

    <div class="form-group">
      <label for="exampleInputPassword1">Title</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Text</label>
      <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Tags</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form> -->
{% endblock %}