{% block content %}
{% load static %}
<form>
  <div class="media">
    <img src="{% static 'img/noAvatarIcon.png' %}" class="img-fluid mr-3" alt="generic placeholder">
    <div class="media-body">
      <h5 class="text-light">Dr Beer</h5>
      <div clas="container">
        <div class="row">
          <div class="col">
            <a href="#" class="text-light">Настройки</a>
          </div>
          <div class="col">
            <a href="#" class="text-light">Выйти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}