{% block content %}
{% load static %}
<form class="needs-validation">
    <div class="row mt-2">
      <div class="col-3">
        <label class="mr" for="login">Login</label>
      </div>
      <div class="input-group col-md-5">
        <input id="login" type="text" class="form-control" required>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label class="mr" for="inputPassword4">Password</label>
      </div>
      <div class="input-group col-md-5">
        <input type="password" class="form-control">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label class="mr" for="inputPassword4"></label>
      </div>
      <div class="input-group col-md-5">
        <button type="submit" class="btn btn-primary">Log in!</button>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
          <label class="mr" for="inputPassword4"></label>
        </div>
        <div class="input-group col-md-5">
          <a href="#">create new account</a>
        </div>
      </div>
  </form>

{% endblock %}