{% block content %}
{% load static %}
<form class="form-horizontal" action="{% url 'settings' %}" method="post">
  {% csrf_token %}
  <div class="col-md-16">
    {% for item in form %}
    <div class="form-group">
      <label class="col-md-2 control-label" for="login">{{ item.label }}</label>
      <div class="col-md-4">
        {{ item }}
      </div>
    </div>
    {% endfor %}
    <div class="form-group">
      <input formnovalidate type="submit" value="Save" class="btn btn-success" />
    </div>
  </div>
</form>
<!-- <form class="needs-validation">
  <div class="feedback">
    <p class="text-danger"> Incorrect input</p>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="login">Login</label>
    </div>
    <div class="input-group col-md-5">
      <input id="login" type="text" class="form-control" required>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="inputPassword4">Email</label>
    </div>
    <div class="input-group col-md-5">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="inputPassword4">NickName</label>
    </div>
    <div class="input-group col-md-5">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="inputPassword4">Upload avatar</label>
    </div>
    <div class="input-group col-md-5">
      <img src="{% static 'img/noAvatarIcon.png' %}" class="img-fluid mb-1" alt="generic placeholder">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="inputPassword4"></label>
    </div>
    <div class="input-group col-md-8">
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <label class="mr" for="inputPassword4"></label>
    </div>
    <div class="input-group col-md-5">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form> -->

{% endblock %}