{% block content %}
<div class="container mb-3 pl-0">
  <h2>Popular Tags</h2>
  <div class="row">
    <div class="col">
      perl
    </div>
    <div class="col">
      python
    </div>
    <div class="col">
      Technopark
    </div>
  </div>
  <div class="row">
    <div class="col">
      MySQL
    </div>
    <div class="col">
      django
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Mail.ru
    </div>
    <div class="col">
      Voloshin
    </div>
    <div class="col">
      Firefox
    </div>
  </div>
</div>
<div class="container mb-3 pl-0">
  <h2>Best Members</h2>
  <div class="row">
    <div class="col">
      <a href="#">Mr. Freeman</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">Dr. Hous</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">Bender</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">Queen Victoria</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">V. Pupkin</a>
    </div>
  </div>
</div>
{% endblock %}