{% extends "asker/base.html" %}
{% load static %}
{% block title %}
<title>index</title>
{% endblock %}

{% block Autorization %}
{% include "asker/include/Authorized.html" %}
{% endblock %}

{% block mainContent %}
  <div class="row align-items-center">
    <div class="col-auto">
      <h3>New Questions</h3>
    </div>
    <div class="col">
      <a href="#">Hot Questions</a>
    </div>
  </div>
  {% for question in questions %}
  <div class="media border mt-3">
    <div class="ml-1 mt-1">
      <img src="{% static 'img/noAvatarIcon.png' %}" class="img-fluid mb-1" alt="generic placeholder">
      <p>
        42    
        <a href="#"><img src="{% static 'img/like.jpg' %}" width="16" height="16" class="mr-1 ml-1" alt="generic placeholder"></a>
        <a href="#"><img src="{% static 'img/dislike.jpg' %}" width="16" height="16" class="mr-0" alt="generic placeholder"></a>
      </p>
    </div>
    <div class="media-body ml-3 mt-1 mb-1">
      <a href="{% url 'question' %}"><h5>{{question.title}}</h5></a>
      <p>{{question.text}}</p>
      <div clas="container">
        <div class="row">
          <div class="col-auto">
            New <a href="#">answer (3)</a>
          </div>
          <div class="col">
            Tags: <a href="#">balck-jack</a> <a href="#">bender</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% include "asker/include/pageNavigation.html" %}
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}