	{% extends "question/base.html" %}
	{% load static %}
	{% block tags%}
	<div style = "position: absolute;right: 15px; margin: 15px 0px 0px 0px">
		<a href="#" class="badge badge-primary" >Евгений,</a>
		<a href="#" class="badge badge-primary" >Аниме</a>
		<a href="#" class="badge badge-primary" >На</a>
		<a href="#" class="badge badge-primary" >Аве -</a>
	</div>
	<div style = "position: absolute; right: 15px; margin: 45px 0px 0px 0px">
		<a href="#" class="badge badge-primary">Здоровья</a>
		<a href="#" class="badge badge-primary">Вашей</a>
		<a href="#" class="badge badge-primary">Маме</a>
	</div>
	{% endblock %}

