{% extends "asker/base.html" %}
{% load static %}
{% block title %}
<title>questions</title>
{% endblock %}

{% block Autorization %}
{% include "asker/include/Authorized.html" %}
{% endblock %}

{% block mainContent %}
  <div class="row align-items-center">
    <div class="col-auto">
      <h3>{{header}}</h3>
    </div>
    <div class="col">
      {% if header == 'New Questions:' %}
      <a href="{% url 'HotQuestions' %}">Hot Questions</a>
      {% else %}
      <a href="{% url 'NewQuestions' %}">New Questions</a>
      {% endif %}
    </div>
  </div>
  {% for obj in object_list %}
  {% include "asker/include/questionPost.html" %}
  {% endfor %}
  {% if object_list.paginator.num_pages > 1 %}
  {% include "asker/include/pageNavigation.html" %}
  {% endif %}
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}