{% extends "asker/base.html" %}
{% block title %}
<title>question</title>
{% endblock %}

{% block user %}
{% include "asker/include/Authorized.html" %}
{% endblock %}

{% block mainContent %}
{% include "asker/include/question.html" %}
<hr>
{% include "asker/include/answer.html" %}
{% include "asker/include/answer.html" %}
<hr>
<div class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="10" placeholder="Введите свой ответ"></textarea>
</div>
<button type="submit" class="btn btn-primary">Answer</button>
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}