{% extends "asker/base.html" %}
{% load static %}
{% block title %}
<title>question detail</title>
{% endblock %}

<!-- {% block Autorization %}
{% include "asker/include/Authorized.html" %}
{% endblock %} -->

{% block mainContent %}
  {% include "asker/include/questionPost.html" %}
  {% for obj in object_list %}
    {% include "asker/include/answer.html" %}
  {% endfor %}
  {% if object_list.paginator.num_pages > 1 %}
  {% include "asker/include/pageNavigation.html" %}
  {% endif %}
  <hr>
  <div class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="10" placeholder="Введите свой ответ"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Answer</button>
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}