{% extends "asker/base.html" %}
{% load staticfiles %}

{% block title %}
<title>tag</title>
{% endblock %}

{% block user %}
{% include "asker/include/notAuthorized.html" %}
{% endblock %}

{% block mainContent %}
  <div class="row align-items-center">
    <div class="col-auto">
      <h3>Tag:</h3>
    </div>
    <div class="col">
      <h3>Bender</h3>
    </div>
  </div>
  {% include "asker/include/question.html" %}
  {% include "asker/include/question.html" %}
  {% include "asker/include/question.html" %}
  {% include "asker/include/pageNavigation.html" %}
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}