{% extends "asker/base.html" %}
{% load static %}
{% block title %}
<title>tags</title>
{% endblock %}

{% block Autorization %}
{% include "asker/include/Authorized.html" %}
{% endblock %}

{% block mainContent %}
  <div class="row align-items-center">
    <div class="col-auto">
      <h3>Tags:</h3>
    </div>
  </div>
  {% for tag in tags %}
  <a href="{{ tag.get_absolute_url }}"><h5>{{tag.tagName}}</h5></a>
  {% endfor %}
{% endblock %}

{% block tags %}
{% include "asker/include/tags.html" %}
{% endblock %}