<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" rel = "stylesheet" href="static\css\bootstrap.min.css">
    <link rel="stylesheet" rel = "stylesheet" href="static\css\classes.css">
    <title>registration</title>
  </head>
  <body>

<nav class="navbar navbar-dark bg-dark">

  <a class="navbar-brand text-light">HelloAsk</a>

  <form class="form-inline">
    <div class="form-group mb-2">
      <input class="form-control" type="search" placeholder="search" aria-label="search">
      <button class="btn btn-success" type="button">Ask!</button>
    </div>
  </form>
  <form class="form-inline">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="#">log in</a>
        </div>
        <div class="col">
          <a href="#">register</a>
        </div>
      </div>
    </div>
  </form>

</nav>

<div class="lines">
<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div class="row">
        <div class="col">
          <h2>Registration<h2>
        </div>
      </div>
      <form>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Login</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">NickName</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Repeat password</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Upload avatar</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col">
                <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
              </div>
              <div class="col-auto-center">
                <button type="submit" class="btn btn-primary">choose</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">registration!</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-4">
      <h2>Popular Tags</h2>
      <div class="row">
        <div class="col">
          perl
        </div>
        <div class="col">
          python
        </div>
        <div class="col">
          Technopark
        </div>
      </div>
      <div class="row">
        <div class="col">
          MySQL
        </div>
        <div class="col">
          django
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
          Mail.ru
        </div>
        <div class="col">
          Voloshin
        </div>
        <div class="col">
          Firefox
        </div>
      </div>
      <h2>Best Members</h2>
      <div class="row">
        <div class="col">
          <a href="#">Mr. Freeman</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
              <a href="#">Dr. Hous</a>
        </div>
      </div>
      <div class="row">
       <div class="col">
           <a href="#">Bender</a>
       </div>
      </div>
      <div class="row">
       <div class="col">
           <a href="#">Queen Victoria</a>
       </div>
      </div>
      <div class="row">
       <div class="col">
           <a href="#">V. Pupkin</a>
       </div>
      </div>
    </div>
  </div>
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.j" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
